<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliceblue</key>
	<integer>15792127</integer>
	<key>antiquewhite</key>
	<integer>16444374</integer>
	<key>antiquewhite1</key>
	<integer>16773082</integer>
	<key>antiquewhite2</key>
	<integer>15589068</integer>
	<key>antiquewhite3</key>
	<integer>13418416</integer>
	<key>antiquewhite4</key>
	<integer>9142904</integer>
	<key>aquamarine</key>
	<integer>8323028</integer>
	<key>aquamarine1</key>
	<integer>8323028</integer>
	<key>aquamarine2</key>
	<integer>7728582</integer>
	<key>aquamarine3</key>
	<integer>6737066</integer>
	<key>aquamarine4</key>
	<integer>4557683</integer>
	<key>azure</key>
	<integer>15794175</integer>
	<key>azure1</key>
	<integer>15794175</integer>
	<key>azure2</key>
	<integer>14675437</integer>
	<key>azure3</key>
	<integer>12700876</integer>
	<key>azure4</key>
	<integer>8555403</integer>
	<key>beige</key>
	<integer>16119259</integer>
	<key>bisque</key>
	<integer>16769987</integer>
	<key>bisque1</key>
	<integer>16769987</integer>
	<key>bisque2</key>
	<integer>15586742</integer>
	<key>bisque3</key>
	<integer>13416093</integer>
	<key>bisque4</key>
	<integer>9141610</integer>
	<key>black</key>
	<integer>0</integer>
	<key>blanchedalmond</key>
	<integer>16772044</integer>
	<key>blue</key>
	<integer>212</integer>
	<key>blue1</key>
	<integer>255</integer>
	<key>blue2</key>
	<integer>237</integer>
	<key>blue3</key>
	<integer>204</integer>
	<key>blue4</key>
	<integer>139</integer>
	<key>blueviolet</key>
	<integer>9054946</integer>
	<key>brown</key>
	<integer>8405056</integer>
	<key>brown1</key>
	<integer>16728128</integer>
	<key>brown2</key>
	<integer>15547195</integer>
	<key>brown3</key>
	<integer>13382451</integer>
	<key>brown4</key>
	<integer>9118499</integer>
	<key>burlywood</key>
	<integer>14596230</integer>
	<key>burlywood1</key>
	<integer>16765850</integer>
	<key>burlywood2</key>
	<integer>15582352</integer>
	<key>burlywood3</key>
	<integer>13412989</integer>
	<key>burlywood4</key>
	<integer>9139028</integer>
	<key>cadetblue</key>
	<integer>6200736</integer>
	<key>cadetblue1</key>
	<integer>10024447</integer>
	<key>cadetblue2</key>
	<integer>9364717</integer>
	<key>cadetblue3</key>
	<integer>7980236</integer>
	<key>cadetblue4</key>
	<integer>5473931</integer>
	<key>chartreuse</key>
	<integer>8322816</integer>
	<key>chartreuse1</key>
	<integer>8322816</integer>
	<key>chartreuse2</key>
	<integer>7728384</integer>
	<key>chartreuse3</key>
	<integer>6736896</integer>
	<key>chartreuse4</key>
	<integer>4557568</integer>
	<key>chocolate</key>
	<integer>13723933</integer>
	<key>chocolate1</key>
	<integer>16743972</integer>
	<key>chocolate2</key>
	<integer>15562016</integer>
	<key>chocolate3</key>
	<integer>13395484</integer>
	<key>chocolate4</key>
	<integer>9127186</integer>
	<key>coral</key>
	<integer>16744015</integer>
	<key>coral1</key>
	<integer>16740950</integer>
	<key>coral2</key>
	<integer>15559247</integer>
	<key>coral3</key>
	<integer>13392709</integer>
	<key>coral4</key>
	<integer>9125166</integer>
	<key>cornflowerblue</key>
	<integer>6591724</integer>
	<key>cornsilk</key>
	<integer>16775131</integer>
	<key>cornsilk1</key>
	<integer>16775131</integer>
	<key>cornsilk2</key>
	<integer>15591372</integer>
	<key>cornsilk3</key>
	<integer>13420464</integer>
	<key>cornsilk4</key>
	<integer>9144184</integer>
	<key>cyan</key>
	<integer>109545</integer>
	<key>cyan1</key>
	<integer>65535</integer>
	<key>cyan2</key>
	<integer>60909</integer>
	<key>cyan3</key>
	<integer>52428</integer>
	<key>cyan4</key>
	<integer>35723</integer>
	<key>darkblue</key>
	<integer>128</integer>
	<key>darkcyan</key>
	<integer>32896</integer>
	<key>darkgoldenrod</key>
	<integer>12092938</integer>
	<key>darkgoldenrod1</key>
	<integer>16759054</integer>
	<key>darkgoldenrod2</key>
	<integer>15576077</integer>
	<key>darkgoldenrod3</key>
	<integer>13407244</integer>
	<key>darkgoldenrod4</key>
	<integer>9135368</integer>
	<key>darkgray</key>
	<integer>8421504</integer>
	<key>darkgreen</key>
	<integer>32768</integer>
	<key>darkgrey</key>
	<integer>8421504</integer>
	<key>darkkhaki</key>
	<integer>12433002</integer>
	<key>darkmagenta</key>
	<integer>8388736</integer>
	<key>darkolivegreen</key>
	<integer>5532206</integer>
	<key>darkolivegreen1</key>
	<integer>13303663</integer>
	<key>darkolivegreen2</key>
	<integer>12381543</integer>
	<key>darkolivegreen3</key>
	<integer>10669145</integer>
	<key>darkolivegreen4</key>
	<integer>7244604</integer>
	<key>darkorange</key>
	<integer>16747264</integer>
	<key>darkorange1</key>
	<integer>16743936</integer>
	<key>darkorange2</key>
	<integer>15561984</integer>
	<key>darkorange3</key>
	<integer>13395456</integer>
	<key>darkorange4</key>
	<integer>9127168</integer>
	<key>darkorchid</key>
	<integer>10040012</integer>
	<key>darkorchid1</key>
	<integer>12467711</integer>
	<key>darkorchid2</key>
	<integer>11614957</integer>
	<key>darkorchid3</key>
	<integer>10040012</integer>
	<key>darkorchid4</key>
	<integer>6758795</integer>
	<key>darkred</key>
	<integer>8388608</integer>
	<key>darksalmon</key>
	<integer>15242617</integer>
	<key>darkseagreen</key>
	<integer>9419919</integer>
	<key>darkseagreen1</key>
	<integer>12713921</integer>
	<key>darkseagreen2</key>
	<integer>11857332</integer>
	<key>darkseagreen3</key>
	<integer>10144922</integer>
	<key>darkseagreen4</key>
	<integer>6916969</integer>
	<key>darkslateblue</key>
	<integer>4734091</integer>
	<key>darkslategray</key>
	<integer>3034702</integer>
	<key>darkslategray1</key>
	<integer>9961471</integer>
	<key>darkslategray2</key>
	<integer>9235949</integer>
	<key>darkslategray3</key>
	<integer>7916748</integer>
	<key>darkslategray4</key>
	<integer>5409675</integer>
	<key>darkslategrey</key>
	<integer>3034702</integer>
	<key>darkturquoise</key>
	<integer>52688</integer>
	<key>darkviolet</key>
	<integer>9699539</integer>
	<key>darkyellow</key>
	<integer>12237312</integer>
	<key>deeppink</key>
	<integer>16716691</integer>
	<key>deeppink1</key>
	<integer>16716691</integer>
	<key>deeppink2</key>
	<integer>15536777</integer>
	<key>deeppink3</key>
	<integer>13373301</integer>
	<key>deeppink4</key>
	<integer>9111887</integer>
	<key>deepskyblue</key>
	<integer>48895</integer>
	<key>deepskyblue1</key>
	<integer>48895</integer>
	<key>deepskyblue2</key>
	<integer>45549</integer>
	<key>deepskyblue3</key>
	<integer>39372</integer>
	<key>deepskyblue4</key>
	<integer>26507</integer>
	<key>dimgray</key>
	<integer>6908265</integer>
	<key>dimgrey</key>
	<integer>6908265</integer>
	<key>dodgerblue</key>
	<integer>1937407</integer>
	<key>dodgerblue1</key>
	<integer>1937407</integer>
	<key>dodgerblue2</key>
	<integer>1804013</integer>
	<key>dodgerblue3</key>
	<integer>1536972</integer>
	<key>dodgerblue4</key>
	<integer>1003147</integer>
	<key>firebrick</key>
	<integer>11608353</integer>
	<key>firebrick1</key>
	<integer>16723759</integer>
	<key>firebrick2</key>
	<integer>15543083</integer>
	<key>firebrick3</key>
	<integer>13378853</integer>
	<key>firebrick4</key>
	<integer>9116186</integer>
	<key>floralwhite</key>
	<integer>16775920</integer>
	<key>forestgreen</key>
	<integer>2198305</integer>
	<key>gainsboro</key>
	<integer>14408667</integer>
	<key>ghostwhite</key>
	<integer>16250879</integer>
	<key>gold</key>
	<integer>16766464</integer>
	<key>gold1</key>
	<integer>16766464</integer>
	<key>gold2</key>
	<integer>15583232</integer>
	<key>gold3</key>
	<integer>13413376</integer>
	<key>gold4</key>
	<integer>9139200</integer>
	<key>goldenrod</key>
	<integer>14263584</integer>
	<key>goldenrod1</key>
	<integer>16761125</integer>
	<key>goldenrod2</key>
	<integer>15578145</integer>
	<key>goldenrod3</key>
	<integer>13408796</integer>
	<key>goldenrod4</key>
	<integer>9136403</integer>
	<key>gray</key>
	<integer>12566463</integer>
	<key>gray0</key>
	<integer>0</integer>
	<key>gray1</key>
	<integer>197379</integer>
	<key>gray10</key>
	<integer>1710618</integer>
	<key>gray100</key>
	<integer>16777215</integer>
	<key>gray11</key>
	<integer>1776411</integer>
	<key>gray12</key>
	<integer>2039583</integer>
	<key>gray13</key>
	<integer>2105376</integer>
	<key>gray14</key>
	<integer>2368548</integer>
	<key>gray15</key>
	<integer>2434341</integer>
	<key>gray16</key>
	<integer>2697513</integer>
	<key>gray17</key>
	<integer>2763306</integer>
	<key>gray18</key>
	<integer>3026478</integer>
	<key>gray19</key>
	<integer>3092271</integer>
	<key>gray2</key>
	<integer>263172</integer>
	<key>gray20</key>
	<integer>3355443</integer>
	<key>gray21</key>
	<integer>3552822</integer>
	<key>gray22</key>
	<integer>3618615</integer>
	<key>gray23</key>
	<integer>3881787</integer>
	<key>gray24</key>
	<integer>3947580</integer>
	<key>gray25</key>
	<integer>4210752</integer>
	<key>gray26</key>
	<integer>4276545</integer>
	<key>gray27</key>
	<integer>4539717</integer>
	<key>gray28</key>
	<integer>4605510</integer>
	<key>gray29</key>
	<integer>4868682</integer>
	<key>gray3</key>
	<integer>526344</integer>
	<key>gray30</key>
	<integer>5066061</integer>
	<key>gray31</key>
	<integer>5131854</integer>
	<key>gray32</key>
	<integer>5395026</integer>
	<key>gray33</key>
	<integer>5460819</integer>
	<key>gray34</key>
	<integer>5723991</integer>
	<key>gray35</key>
	<integer>5789784</integer>
	<key>gray36</key>
	<integer>6052956</integer>
	<key>gray37</key>
	<integer>6118749</integer>
	<key>gray38</key>
	<integer>6381921</integer>
	<key>gray39</key>
	<integer>6447714</integer>
	<key>gray4</key>
	<integer>592137</integer>
	<key>gray40</key>
	<integer>6710886</integer>
	<key>gray41</key>
	<integer>6908265</integer>
	<key>gray42</key>
	<integer>6974058</integer>
	<key>gray43</key>
	<integer>7237230</integer>
	<key>gray44</key>
	<integer>7303023</integer>
	<key>gray45</key>
	<integer>7566195</integer>
	<key>gray46</key>
	<integer>7631988</integer>
	<key>gray47</key>
	<integer>7895160</integer>
	<key>gray48</key>
	<integer>7960953</integer>
	<key>gray49</key>
	<integer>8224125</integer>
	<key>gray5</key>
	<integer>855309</integer>
	<key>gray50</key>
	<integer>8289918</integer>
	<key>gray51</key>
	<integer>8487297</integer>
	<key>gray52</key>
	<integer>8750469</integer>
	<key>gray53</key>
	<integer>8816262</integer>
	<key>gray54</key>
	<integer>9079434</integer>
	<key>gray55</key>
	<integer>9145227</integer>
	<key>gray56</key>
	<integer>9408399</integer>
	<key>gray57</key>
	<integer>9474192</integer>
	<key>gray58</key>
	<integer>9737364</integer>
	<key>gray59</key>
	<integer>9803157</integer>
	<key>gray6</key>
	<integer>921102</integer>
	<key>gray60</key>
	<integer>10066329</integer>
	<key>gray61</key>
	<integer>10263708</integer>
	<key>gray62</key>
	<integer>10329501</integer>
	<key>gray63</key>
	<integer>10592673</integer>
	<key>gray64</key>
	<integer>10658466</integer>
	<key>gray65</key>
	<integer>10921638</integer>
	<key>gray66</key>
	<integer>10987431</integer>
	<key>gray67</key>
	<integer>11250603</integer>
	<key>gray68</key>
	<integer>11316396</integer>
	<key>gray69</key>
	<integer>11579568</integer>
	<key>gray7</key>
	<integer>1184274</integer>
	<key>gray70</key>
	<integer>11776947</integer>
	<key>gray71</key>
	<integer>11842740</integer>
	<key>gray72</key>
	<integer>12105912</integer>
	<key>gray73</key>
	<integer>12171705</integer>
	<key>gray74</key>
	<integer>12434877</integer>
	<key>gray75</key>
	<integer>12500670</integer>
	<key>gray76</key>
	<integer>12763842</integer>
	<key>gray77</key>
	<integer>12829635</integer>
	<key>gray78</key>
	<integer>13092807</integer>
	<key>gray79</key>
	<integer>13158600</integer>
	<key>gray8</key>
	<integer>1250067</integer>
	<key>gray80</key>
	<integer>13421772</integer>
	<key>gray81</key>
	<integer>13619151</integer>
	<key>gray82</key>
	<integer>13684944</integer>
	<key>gray83</key>
	<integer>13948116</integer>
	<key>gray84</key>
	<integer>14013909</integer>
	<key>gray85</key>
	<integer>14277081</integer>
	<key>gray86</key>
	<integer>14342874</integer>
	<key>gray87</key>
	<integer>14606046</integer>
	<key>gray88</key>
	<integer>14671839</integer>
	<key>gray89</key>
	<integer>14935011</integer>
	<key>gray9</key>
	<integer>1513239</integer>
	<key>gray90</key>
	<integer>15000804</integer>
	<key>gray91</key>
	<integer>15198183</integer>
	<key>gray92</key>
	<integer>15461355</integer>
	<key>gray93</key>
	<integer>15527148</integer>
	<key>gray94</key>
	<integer>15790320</integer>
	<key>gray95</key>
	<integer>15856113</integer>
	<key>gray96</key>
	<integer>16119285</integer>
	<key>gray97</key>
	<integer>16185078</integer>
	<key>gray98</key>
	<integer>16448250</integer>
	<key>gray99</key>
	<integer>16514043</integer>
	<key>green</key>
	<integer>25617</integer>
	<key>green1</key>
	<integer>65280</integer>
	<key>green2</key>
	<integer>60672</integer>
	<key>green3</key>
	<integer>52224</integer>
	<key>green4</key>
	<integer>35584</integer>
	<key>greenyellow</key>
	<integer>11337518</integer>
	<key>grey</key>
	<integer>12566463</integer>
	<key>grey0</key>
	<integer>0</integer>
	<key>grey1</key>
	<integer>197379</integer>
	<key>grey10</key>
	<integer>1710618</integer>
	<key>grey100</key>
	<integer>16777215</integer>
	<key>grey11</key>
	<integer>1776411</integer>
	<key>grey12</key>
	<integer>2039583</integer>
	<key>grey13</key>
	<integer>2105376</integer>
	<key>grey14</key>
	<integer>2368548</integer>
	<key>grey15</key>
	<integer>2434341</integer>
	<key>grey16</key>
	<integer>2697513</integer>
	<key>grey17</key>
	<integer>2763306</integer>
	<key>grey18</key>
	<integer>3026478</integer>
	<key>grey19</key>
	<integer>3092271</integer>
	<key>grey2</key>
	<integer>263172</integer>
	<key>grey20</key>
	<integer>3355443</integer>
	<key>grey21</key>
	<integer>3552822</integer>
	<key>grey22</key>
	<integer>3618615</integer>
	<key>grey23</key>
	<integer>3881787</integer>
	<key>grey24</key>
	<integer>3947580</integer>
	<key>grey25</key>
	<integer>4210752</integer>
	<key>grey26</key>
	<integer>4276545</integer>
	<key>grey27</key>
	<integer>4539717</integer>
	<key>grey28</key>
	<integer>4605510</integer>
	<key>grey29</key>
	<integer>4868682</integer>
	<key>grey3</key>
	<integer>526344</integer>
	<key>grey30</key>
	<integer>5066061</integer>
	<key>grey31</key>
	<integer>5131854</integer>
	<key>grey32</key>
	<integer>5395026</integer>
	<key>grey33</key>
	<integer>5460819</integer>
	<key>grey34</key>
	<integer>5723991</integer>
	<key>grey35</key>
	<integer>5789784</integer>
	<key>grey36</key>
	<integer>6052956</integer>
	<key>grey37</key>
	<integer>6118749</integer>
	<key>grey38</key>
	<integer>6381921</integer>
	<key>grey39</key>
	<integer>6447714</integer>
	<key>grey4</key>
	<integer>592137</integer>
	<key>grey40</key>
	<integer>6710886</integer>
	<key>grey41</key>
	<integer>6908265</integer>
	<key>grey42</key>
	<integer>6974058</integer>
	<key>grey43</key>
	<integer>7237230</integer>
	<key>grey44</key>
	<integer>7303023</integer>
	<key>grey45</key>
	<integer>7566195</integer>
	<key>grey46</key>
	<integer>7631988</integer>
	<key>grey47</key>
	<integer>7895160</integer>
	<key>grey48</key>
	<integer>7960953</integer>
	<key>grey49</key>
	<integer>8224125</integer>
	<key>grey5</key>
	<integer>855309</integer>
	<key>grey50</key>
	<integer>8289918</integer>
	<key>grey51</key>
	<integer>8487297</integer>
	<key>grey52</key>
	<integer>8750469</integer>
	<key>grey53</key>
	<integer>8816262</integer>
	<key>grey54</key>
	<integer>9079434</integer>
	<key>grey55</key>
	<integer>9145227</integer>
	<key>grey56</key>
	<integer>9408399</integer>
	<key>grey57</key>
	<integer>9474192</integer>
	<key>grey58</key>
	<integer>9737364</integer>
	<key>grey59</key>
	<integer>9803157</integer>
	<key>grey6</key>
	<integer>921102</integer>
	<key>grey60</key>
	<integer>10066329</integer>
	<key>grey61</key>
	<integer>10263708</integer>
	<key>grey62</key>
	<integer>10329501</integer>
	<key>grey63</key>
	<integer>10592673</integer>
	<key>grey64</key>
	<integer>10658466</integer>
	<key>grey65</key>
	<integer>10921638</integer>
	<key>grey66</key>
	<integer>10987431</integer>
	<key>grey67</key>
	<integer>11250603</integer>
	<key>grey68</key>
	<integer>11316396</integer>
	<key>grey69</key>
	<integer>11579568</integer>
	<key>grey7</key>
	<integer>1184274</integer>
	<key>grey70</key>
	<integer>11776947</integer>
	<key>grey71</key>
	<integer>11842740</integer>
	<key>grey72</key>
	<integer>12105912</integer>
	<key>grey73</key>
	<integer>12171705</integer>
	<key>grey74</key>
	<integer>12434877</integer>
	<key>grey75</key>
	<integer>12500670</integer>
	<key>grey76</key>
	<integer>12763842</integer>
	<key>grey77</key>
	<integer>12829635</integer>
	<key>grey78</key>
	<integer>13092807</integer>
	<key>grey79</key>
	<integer>13158600</integer>
	<key>grey8</key>
	<integer>1250067</integer>
	<key>grey80</key>
	<integer>13421772</integer>
	<key>grey81</key>
	<integer>13619151</integer>
	<key>grey82</key>
	<integer>13684944</integer>
	<key>grey83</key>
	<integer>13948116</integer>
	<key>grey84</key>
	<integer>14013909</integer>
	<key>grey85</key>
	<integer>14277081</integer>
	<key>grey86</key>
	<integer>14342874</integer>
	<key>grey87</key>
	<integer>14606046</integer>
	<key>grey88</key>
	<integer>14671839</integer>
	<key>grey89</key>
	<integer>14935011</integer>
	<key>grey9</key>
	<integer>1513239</integer>
	<key>grey90</key>
	<integer>15000804</integer>
	<key>grey91</key>
	<integer>15198183</integer>
	<key>grey92</key>
	<integer>15461355</integer>
	<key>grey93</key>
	<integer>15527148</integer>
	<key>grey94</key>
	<integer>15790320</integer>
	<key>grey95</key>
	<integer>15856113</integer>
	<key>grey96</key>
	<integer>16119285</integer>
	<key>grey97</key>
	<integer>16185078</integer>
	<key>grey98</key>
	<integer>16448250</integer>
	<key>grey99</key>
	<integer>16514043</integer>
	<key>honeydew</key>
	<integer>15794160</integer>
	<key>honeydew1</key>
	<integer>15794160</integer>
	<key>honeydew2</key>
	<integer>14675423</integer>
	<key>honeydew3</key>
	<integer>12700865</integer>
	<key>honeydew4</key>
	<integer>8555394</integer>
	<key>hotpink</key>
	<integer>16738740</integer>
	<key>hotpink1</key>
	<integer>16740020</integer>
	<key>hotpink2</key>
	<integer>15559334</integer>
	<key>hotpink3</key>
	<integer>13394063</integer>
	<key>hotpink4</key>
	<integer>9124449</integer>
	<key>indianred</key>
	<integer>13392988</integer>
	<key>indianred1</key>
	<integer>16738922</integer>
	<key>indianred2</key>
	<integer>15557218</integer>
	<key>indianred3</key>
	<integer>13390932</integer>
	<key>indianred4</key>
	<integer>9124410</integer>
	<key>ivory</key>
	<integer>16777200</integer>
	<key>ivory1</key>
	<integer>16777200</integer>
	<key>ivory2</key>
	<integer>15592927</integer>
	<key>ivory3</key>
	<integer>13421761</integer>
	<key>ivory4</key>
	<integer>9145218</integer>
	<key>khaki</key>
	<integer>15787659</integer>
	<key>khaki1</key>
	<integer>16774543</integer>
	<key>khaki2</key>
	<integer>15591045</integer>
	<key>khaki3</key>
	<integer>13420147</integer>
	<key>khaki4</key>
	<integer>9143886</integer>
	<key>lavender</key>
	<integer>15132410</integer>
	<key>lavenderblush</key>
	<integer>16773365</integer>
	<key>lavenderblush1</key>
	<integer>16773365</integer>
	<key>lavenderblush2</key>
	<integer>15589348</integer>
	<key>lavenderblush3</key>
	<integer>13418948</integer>
	<key>lavenderblush4</key>
	<integer>9142918</integer>
	<key>lawngreen</key>
	<integer>8190720</integer>
	<key>lemonchiffon</key>
	<integer>16775884</integer>
	<key>lemonchiffon1</key>
	<integer>16775884</integer>
	<key>lemonchiffon2</key>
	<integer>15591614</integer>
	<key>lemonchiffon3</key>
	<integer>13420709</integer>
	<key>lemonchiffon4</key>
	<integer>9144687</integer>
	<key>lightblue</key>
	<integer>10526975</integer>
	<key>lightblue1</key>
	<integer>12513279</integer>
	<key>lightblue2</key>
	<integer>11656941</integer>
	<key>lightblue3</key>
	<integer>10076108</integer>
	<key>lightblue4</key>
	<integer>6783627</integer>
	<key>lightcoral</key>
	<integer>15761536</integer>
	<key>lightcyan</key>
	<integer>10551295</integer>
	<key>lightcyan1</key>
	<integer>14680063</integer>
	<key>lightcyan2</key>
	<integer>13692397</integer>
	<key>lightcyan3</key>
	<integer>11848908</integer>
	<key>lightcyan4</key>
	<integer>7965579</integer>
	<key>lightgoldenrod</key>
	<integer>15588737</integer>
	<key>lightgoldenrod1</key>
	<integer>16772235</integer>
	<key>lightgoldenrod2</key>
	<integer>15588225</integer>
	<key>lightgoldenrod3</key>
	<integer>13418095</integer>
	<key>lightgoldenrod4</key>
	<integer>9142603</integer>
	<key>lightgoldenrodyellow</key>
	<integer>16448209</integer>
	<key>lightgray</key>
	<integer>14671839</integer>
	<key>lightgreen</key>
	<integer>10551200</integer>
	<key>lightgrey</key>
	<integer>14671839</integer>
	<key>lightmagenta</key>
	<integer>15769840</integer>
	<key>lightpink</key>
	<integer>16758209</integer>
	<key>lightpink1</key>
	<integer>16756409</integer>
	<key>lightpink2</key>
	<integer>15573676</integer>
	<key>lightpink3</key>
	<integer>13405076</integer>
	<key>lightpink4</key>
	<integer>9133669</integer>
	<key>lightred</key>
	<integer>16752800</integer>
	<key>lightsalmon</key>
	<integer>16752761</integer>
	<key>lightsalmon1</key>
	<integer>16752761</integer>
	<key>lightsalmon2</key>
	<integer>15570034</integer>
	<key>lightsalmon3</key>
	<integer>13402465</integer>
	<key>lightsalmon4</key>
	<integer>9131841</integer>
	<key>lightseagreen</key>
	<integer>2142634</integer>
	<key>lightskyblue</key>
	<integer>8834554</integer>
	<key>lightskyblue1</key>
	<integer>11592447</integer>
	<key>lightskyblue2</key>
	<integer>10736621</integer>
	<key>lightskyblue3</key>
	<integer>9221580</integer>
	<key>lightskyblue4</key>
	<integer>6323083</integer>
	<key>lightslateblue</key>
	<integer>8613887</integer>
	<key>lightslategray</key>
	<integer>7833497</integer>
	<key>lightslategrey</key>
	<integer>7833497</integer>
	<key>lightsteelblue</key>
	<integer>11584478</integer>
	<key>lightsteelblue1</key>
	<integer>13296127</integer>
	<key>lightsteelblue2</key>
	<integer>12374509</integer>
	<key>lightsteelblue3</key>
	<integer>10663116</integer>
	<key>lightsteelblue4</key>
	<integer>7240587</integer>
	<key>lightyellow</key>
	<integer>16777120</integer>
	<key>lightyellow1</key>
	<integer>16777183</integer>
	<key>lightyellow2</key>
	<integer>15592912</integer>
	<key>lightyellow3</key>
	<integer>13421748</integer>
	<key>lightyellow4</key>
	<integer>9145209</integer>
	<key>limegreen</key>
	<integer>3329074</integer>
	<key>linen</key>
	<integer>16445670</integer>
	<key>magenta</key>
	<integer>15796355</integer>
	<key>magenta1</key>
	<integer>16711935</integer>
	<key>magenta2</key>
	<integer>15532269</integer>
	<key>magenta3</key>
	<integer>13369548</integer>
	<key>magenta4</key>
	<integer>9109643</integer>
	<key>maroon</key>
	<integer>11546464</integer>
	<key>maroon1</key>
	<integer>16724915</integer>
	<key>maroon2</key>
	<integer>15544230</integer>
	<key>maroon3</key>
	<integer>13379983</integer>
	<key>maroon4</key>
	<integer>9116513</integer>
	<key>mediumaquamarine</key>
	<integer>6737066</integer>
	<key>mediumblue</key>
	<integer>204</integer>
	<key>mediumorchid</key>
	<integer>12145875</integer>
	<key>mediumorchid1</key>
	<integer>14640895</integer>
	<key>mediumorchid2</key>
	<integer>13655789</integer>
	<key>mediumorchid3</key>
	<integer>11817676</integer>
	<key>mediumorchid4</key>
	<integer>7944075</integer>
	<key>mediumpurple</key>
	<integer>9662426</integer>
	<key>mediumpurple1</key>
	<integer>11239935</integer>
	<key>mediumpurple2</key>
	<integer>10385645</integer>
	<key>mediumpurple3</key>
	<integer>9005004</integer>
	<key>mediumpurple4</key>
	<integer>6047371</integer>
	<key>mediumseagreen</key>
	<integer>3978096</integer>
	<key>mediumslateblue</key>
	<integer>8087533</integer>
	<key>mediumspringgreen</key>
	<integer>64153</integer>
	<key>mediumturquoise</key>
	<integer>4772044</integer>
	<key>mediumvioletred</key>
	<integer>13047173</integer>
	<key>midnightblue</key>
	<integer>1579119</integer>
	<key>mintcream</key>
	<integer>16121850</integer>
	<key>mistyrose</key>
	<integer>16770017</integer>
	<key>mistyrose1</key>
	<integer>16770017</integer>
	<key>mistyrose2</key>
	<integer>15586769</integer>
	<key>mistyrose3</key>
	<integer>13416116</integer>
	<key>mistyrose4</key>
	<integer>9141627</integer>
	<key>moccasin</key>
	<integer>16769972</integer>
	<key>navajowhite</key>
	<integer>16768684</integer>
	<key>navajowhite1</key>
	<integer>16768684</integer>
	<key>navajowhite2</key>
	<integer>15585185</integer>
	<key>navajowhite3</key>
	<integer>13415307</integer>
	<key>navajowhite4</key>
	<integer>9140317</integer>
	<key>navy</key>
	<integer>128</integer>
	<key>navyblue</key>
	<integer>128</integer>
	<key>oldlace</key>
	<integer>16643558</integer>
	<key>olivedrab</key>
	<integer>6983203</integer>
	<key>olivedrab1</key>
	<integer>12582717</integer>
	<key>olivedrab2</key>
	<integer>11791674</integer>
	<key>olivedrab3</key>
	<integer>10079282</integer>
	<key>olivedrab4</key>
	<integer>6916897</integer>
	<key>orange</key>
	<integer>16482304</integer>
	<key>orange1</key>
	<integer>16753920</integer>
	<key>orange2</key>
	<integer>15571200</integer>
	<key>orange3</key>
	<integer>13403392</integer>
	<key>orange4</key>
	<integer>9132288</integer>
	<key>orangered</key>
	<integer>16729344</integer>
	<key>orangered1</key>
	<integer>16729344</integer>
	<key>orangered2</key>
	<integer>15548416</integer>
	<key>orangered3</key>
	<integer>13383424</integer>
	<key>orangered4</key>
	<integer>9118976</integer>
	<key>orchid</key>
	<integer>14249941</integer>
	<key>orchid1</key>
	<integer>16745210</integer>
	<key>orchid2</key>
	<integer>15563240</integer>
	<key>orchid3</key>
	<integer>13396424</integer>
	<key>orchid4</key>
	<integer>9127561</integer>
	<key>palegoldenrod</key>
	<integer>15591338</integer>
	<key>palegreen</key>
	<integer>10025624</integer>
	<key>palegreen1</key>
	<integer>10092441</integer>
	<key>palegreen2</key>
	<integer>9432463</integer>
	<key>palegreen3</key>
	<integer>8178812</integer>
	<key>palegreen4</key>
	<integer>5475155</integer>
	<key>paleturquoise</key>
	<integer>11529709</integer>
	<key>paleturquoise1</key>
	<integer>12255231</integer>
	<key>paleturquoise2</key>
	<integer>11464173</integer>
	<key>paleturquoise3</key>
	<integer>9817292</integer>
	<key>paleturquoise4</key>
	<integer>6720395</integer>
	<key>palevioletred</key>
	<integer>14315411</integer>
	<key>palevioletred1</key>
	<integer>16744875</integer>
	<key>palevioletred2</key>
	<integer>15562910</integer>
	<key>palevioletred3</key>
	<integer>13395849</integer>
	<key>palevioletred4</key>
	<integer>9127516</integer>
	<key>papayawhip</key>
	<integer>16773077</integer>
	<key>peachpuff</key>
	<integer>16767417</integer>
	<key>peachpuff1</key>
	<integer>16767417</integer>
	<key>peachpuff2</key>
	<integer>15584172</integer>
	<key>peachpuff3</key>
	<integer>13414292</integer>
	<key>peachpuff4</key>
	<integer>9140069</integer>
	<key>peru</key>
	<integer>13403455</integer>
	<key>pink</key>
	<integer>16760779</integer>
	<key>pink1</key>
	<integer>16757956</integer>
	<key>pink2</key>
	<integer>15575224</integer>
	<key>pink3</key>
	<integer>13406365</integer>
	<key>pink4</key>
	<integer>9134699</integer>
	<key>plum</key>
	<integer>14524637</integer>
	<key>plum1</key>
	<integer>16759551</integer>
	<key>plum2</key>
	<integer>15576813</integer>
	<key>plum3</key>
	<integer>13407692</integer>
	<key>plum4</key>
	<integer>9135755</integer>
	<key>powderblue</key>
	<integer>11591654</integer>
	<key>purple</key>
	<integer>10494192</integer>
	<key>purple1</key>
	<integer>10104831</integer>
	<key>purple2</key>
	<integer>9448429</integer>
	<key>purple3</key>
	<integer>8201676</integer>
	<key>purple4</key>
	<integer>5511819</integer>
	<key>red</key>
	<integer>14485509</integer>
	<key>red1</key>
	<integer>16711680</integer>
	<key>red2</key>
	<integer>15532032</integer>
	<key>red3</key>
	<integer>13369344</integer>
	<key>red4</key>
	<integer>9109504</integer>
	<key>rosybrown</key>
	<integer>12357519</integer>
	<key>rosybrown1</key>
	<integer>16761281</integer>
	<key>rosybrown2</key>
	<integer>15578292</integer>
	<key>rosybrown3</key>
	<integer>13408922</integer>
	<key>rosybrown4</key>
	<integer>9136489</integer>
	<key>royalblue</key>
	<integer>4221409</integer>
	<key>royalblue1</key>
	<integer>4748799</integer>
	<key>royalblue2</key>
	<integer>4353773</integer>
	<key>royalblue3</key>
	<integer>3825356</integer>
	<key>royalblue4</key>
	<integer>2506891</integer>
	<key>saddlebrown</key>
	<integer>9127186</integer>
	<key>salmon</key>
	<integer>16416882</integer>
	<key>salmon1</key>
	<integer>16747369</integer>
	<key>salmon2</key>
	<integer>15565153</integer>
	<key>salmon3</key>
	<integer>13397843</integer>
	<key>salmon4</key>
	<integer>9128760</integer>
	<key>sandybrown</key>
	<integer>16032608</integer>
	<key>seagreen</key>
	<integer>3050327</integer>
	<key>seagreen1</key>
	<integer>5504926</integer>
	<key>seagreen2</key>
	<integer>5172628</integer>
	<key>seagreen3</key>
	<integer>4377728</integer>
	<key>seagreen4</key>
	<integer>3050327</integer>
	<key>seashell</key>
	<integer>16774637</integer>
	<key>seashell1</key>
	<integer>16774637</integer>
	<key>seashell2</key>
	<integer>15590622</integer>
	<key>seashell3</key>
	<integer>13419710</integer>
	<key>seashell4</key>
	<integer>9143937</integer>
	<key>sienna</key>
	<integer>10506797</integer>
	<key>sienna1</key>
	<integer>16744774</integer>
	<key>sienna2</key>
	<integer>15562817</integer>
	<key>sienna3</key>
	<integer>13395768</integer>
	<key>sienna4</key>
	<integer>9127461</integer>
	<key>skyblue</key>
	<integer>8834539</integer>
	<key>skyblue1</key>
	<integer>8834559</integer>
	<key>skyblue2</key>
	<integer>8241133</integer>
	<key>skyblue3</key>
	<integer>7055052</integer>
	<key>skyblue4</key>
	<integer>4878219</integer>
	<key>slateblue</key>
	<integer>6969804</integer>
	<key>slateblue1</key>
	<integer>8548351</integer>
	<key>slateblue2</key>
	<integer>7956205</integer>
	<key>slateblue3</key>
	<integer>6904012</integer>
	<key>slateblue4</key>
	<integer>4603019</integer>
	<key>slategray</key>
	<integer>7307407</integer>
	<key>slategray1</key>
	<integer>13034239</integer>
	<key>slategray2</key>
	<integer>12178413</integer>
	<key>slategray3</key>
	<integer>10401228</integer>
	<key>slategray4</key>
	<integer>7043979</integer>
	<key>slategrey</key>
	<integer>7307407</integer>
	<key>snow</key>
	<integer>16775930</integer>
	<key>snow1</key>
	<integer>16775930</integer>
	<key>snow2</key>
	<integer>15591656</integer>
	<key>snow3</key>
	<integer>13420744</integer>
	<key>snow4</key>
	<integer>9144713</integer>
	<key>springgreen</key>
	<integer>65406</integer>
	<key>springgreen1</key>
	<integer>65406</integer>
	<key>springgreen2</key>
	<integer>60789</integer>
	<key>springgreen3</key>
	<integer>52326</integer>
	<key>springgreen4</key>
	<integer>35653</integer>
	<key>steelblue</key>
	<integer>4555188</integer>
	<key>steelblue1</key>
	<integer>6469887</integer>
	<key>steelblue2</key>
	<integer>6073325</integer>
	<key>steelblue3</key>
	<integer>5149900</integer>
	<key>steelblue4</key>
	<integer>3564683</integer>
	<key>tan</key>
	<integer>13743243</integer>
	<key>tan1</key>
	<integer>16753998</integer>
	<key>tan2</key>
	<integer>15571273</integer>
	<key>tan3</key>
	<integer>13403455</integer>
	<key>tan4</key>
	<integer>9132330</integer>
	<key>thistle</key>
	<integer>14204632</integer>
	<key>thistle1</key>
	<integer>16769535</integer>
	<key>thistle2</key>
	<integer>15585773</integer>
	<key>thistle3</key>
	<integer>13415628</integer>
	<key>thistle4</key>
	<integer>9141131</integer>
	<key>tomato</key>
	<integer>16736838</integer>
	<key>tomato1</key>
	<integer>16736838</integer>
	<key>tomato2</key>
	<integer>15555649</integer>
	<key>tomato3</key>
	<integer>13389368</integer>
	<key>tomato4</key>
	<integer>9123365</integer>
	<key>turquoise</key>
	<integer>4251600</integer>
	<key>turquoise1</key>
	<integer>62975</integer>
	<key>turquoise2</key>
	<integer>58605</integer>
	<key>turquoise3</key>
	<integer>50380</integer>
	<key>turquoise4</key>
	<integer>34443</integer>
	<key>violet</key>
	<integer>9189320</integer>
	<key>violetred</key>
	<integer>13639823</integer>
	<key>violetred1</key>
	<integer>16727445</integer>
	<key>violetred2</key>
	<integer>15547019</integer>
	<key>violetred3</key>
	<integer>13382264</integer>
	<key>violetred4</key>
	<integer>9118034</integer>
	<key>wheat</key>
	<integer>16113331</integer>
	<key>wheat1</key>
	<integer>16771001</integer>
	<key>wheat2</key>
	<integer>15587502</integer>
	<key>wheat3</key>
	<integer>13416853</integer>
	<key>wheat4</key>
	<integer>9141606</integer>
	<key>white</key>
	<integer>16777215</integer>
	<key>whitesmoke</key>
	<integer>16119285</integer>
	<key>yellow</key>
	<integer>16511492</integer>
	<key>yellow1</key>
	<integer>16776960</integer>
	<key>yellow2</key>
	<integer>15592704</integer>
	<key>yellow3</key>
	<integer>13421568</integer>
	<key>yellow4</key>
	<integer>9145088</integer>
	<key>yellowgreen</key>
	<integer>10079282</integer>
</dict>
</plist>
