<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string>KA</string>
	<key></key>
	<string>kB</string>
	<key></key>
	<string>kb</string>
	<key></key>
	<string>ku</string>
	<key></key>
	<string>kd</string>
	<key></key>
	<string>kl</string>
	<key></key>
	<string>kr</string>
	<key></key>
	<string>k1</string>
	<key></key>
	<string>k2</string>
	<key></key>
	<string>k3</string>
	<key></key>
	<string>k4</string>
	<key></key>
	<string>k5</string>
	<key></key>
	<string>k6</string>
	<key></key>
	<string>k7</string>
	<key></key>
	<string>k8</string>
	<key></key>
	<string>k9</string>
	<key></key>
	<string>k;</string>
	<key></key>
	<string>F1</string>
	<key></key>
	<string>F2</string>
	<key></key>
	<string>F3</string>
	<key></key>
	<string>F4</string>
	<key></key>
	<string>F5</string>
	<key></key>
	<string>F6</string>
	<key></key>
	<string>kD</string>
	<key></key>
	<string>kh</string>
	<key></key>
	<string>@7</string>
	<key></key>
	<string>kP</string>
	<key></key>
	<string>kN</string>
</dict>
</plist>
