<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_cycleWindows:</key>
	<string></string>
	<key>_cycleWindowsBackwards:</key>
	<string></string>
	<key>addNewTab:</key>
	<string></string>
	<key>arrangeInFront:</key>
	<string></string>
	<key>clearRecentDocuments:</key>
	<string></string>
	<key>copy:</key>
	<string></string>
	<key>cut:</key>
	<string></string>
	<key>fileOpen:</key>
	<string></string>
	<key>findNext:</key>
	<string></string>
	<key>findPrevious:</key>
	<string></string>
	<key>fontSizeDown:</key>
	<string></string>
	<key>fontSizeUp:</key>
	<string></string>
	<key>hide:</key>
	<string></string>
	<key>hideOtherApplications:</key>
	<string></string>
	<key>miniaturizeAll:</key>
	<string></string>
	<key>newWindow:</key>
	<string></string>
	<key>openWebsite:</key>
	<string></string>
	<key>orderFrontCharacterPalette:</key>
	<string></string>
	<key>orderFrontFontPanel:</key>
	<string></string>
	<key>orderFrontPreferencePanel:</key>
	<string></string>
	<key>paste:</key>
	<string></string>
	<key>performClose:</key>
	<string></string>
	<key>performMiniaturize:</key>
	<string></string>
	<key>performZoom:</key>
	<string></string>
	<key>recentFilesDummy:</key>
	<string></string>
	<key>redo:</key>
	<string></string>
	<key>selectAll:</key>
	<string></string>
	<key>selectNextWindow:</key>
	<string></string>
	<key>selectPreviousWindow:</key>
	<string></string>
	<key>showVimHelp:</key>
	<string></string>
	<key>terminate:</key>
	<string></string>
	<key>undo:</key>
	<string></string>
	<key>unhide:</key>
	<string></string>
	<key>unhideAllApplications:</key>
	<string></string>
	<key>zoomAll:</key>
	<string></string>
</dict>
</plist>
