name: MacVim GitHub CI

# Main CI workflow for MacVim. Will build and test MacVim on different platforms.

on:
  push:
  pull_request:

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  # Builds and test MacVim
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Self-hosted runner with old enough software (Xcode 14.0.1) to be
          # able to make legacy builds. We only run this when making a full
          # release build.
          - os: macos-13-xcode14-self-hosted
            publish: true
            publish_postfix: '_10.9'
            skip: ${{ ! startswith(github.ref, 'refs/tags/release') }}
            legacy: true

          - os: macos-13
            xcode: '15.2'
            testgui: true
            extra: [vimtags, check-xcodeproj-compat]

          # Below runners use Apple Silicon.
          - os: macos-14
            xcode: '15.4'
            testgui: false

          # Most up to date OS and Xcode. Used to publish release for the main build.
          - os: macos-15
            xcode: '16.2'
            testgui: true
            publish: true
            optimized: true

    uses: ./.github/workflows/macvim-buildtest.yaml
    with:
      skip: ${{ matrix.skip && true || false }}
      os: ${{ matrix.os }}
      legacy: ${{ matrix.legacy && true || false }}
      xcode: ${{ matrix.xcode }}
      publish: ${{ matrix.publish && true || false }}
      publish_postfix: ${{ matrix.publish_postfix }}
      optimized: ${{ matrix.optimized && true || false }}
      vimtags: ${{ contains(matrix.extra, 'vimtags') }}
      check-xcodeproj-compat: ${{ contains(matrix.extra, 'check-xcodeproj-compat') }}
